
nav li {
	display: inline;
	margin: 0, 25px, 0, 25px;
	text-decoration: none;
	text-transform: uppercase;
		padding-right: 0%;
}

nav {
	position: absolute;
	top: 5px;
	right: 15px;
	background-color: antiquewhite;
}

nav a {
	font-weight: lighter;
	font-size: 35px;
	text-decoration: none;
	color: chocolate;
}

#banner {
	width: 100%;
} 
body {
	background: #29D9D9;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
	text-align: center;
}

p {
	text-align: center;
}



